.input-custom{
    height: 40px;
    padding: 0px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 2px solid $color-two;
    background-color: #333333;
    color: white;
}

.error-empty{
    border-color: red !important;
}

.text-error-empty{
    color: red;
    font-size: 1.0rem;
}