<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Nac & Popuflix</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="../index.html"><img src="https://firebasestorage.googleapis.com/v0/b/cosas-de-cursos.appspot.com/o/preentrega-movies%2Flogo%2FNac-modified-removebg-preview2.png?alt=media&token=87d204e3-48d3-420e-9401-6c629b3e0bcc"></a>
        </div>
        <div class="navbar-items">
            <ul class="navbar-items-list">
                <a href=""><li>Tendencias</li></a>
                <a href="./templates/sign.html"><li>Registrarse</li></a>
                <li><button class="button-primary">Iniciar Sesion</button></li>
            </ul>
        </div>
    </nav>

    <footer class="footer">
        <div>
            <div>
                <div>Navegación</div>
                <ul>
                    <li><a href="">Intro</a></li>
                    <li><a href="">Buscar</a></li>
                    <li><a href="">Tendencias</a></li>
                    <li><a href="">Las más Aclamadas</a></li>
                </ul>
            </div>
            <div>
                <div>Nuestras Redes Sociales</div>
                <ul>
                    <li><i class="fa-brands fa-youtube"></i></li>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-tiktok"></i></li>
                </ul>
            </div>
            <div>
                <div>Cuenta</div>
                <ul>
                    <li><a href="">Crear Cuenta</a></li>
                    <li><a href="">Acceder</a></li>
                </ul>
            </div>

        </div>
        <div>
            <div>
                <p>NAC & POPUFLIX</p>
                <p>Todos los derechos reservados ©</p>
            </div>
            <div>

            </div>
        </div>
    </footer>
</body>